body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #0c0c0c; /* Dark background color */
    color: #fff; /* White text color */
    font-family: 'Roboto', sans-serif; /* Use a modern sans-serif font */
}

.container {
    text-align: center;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
}

.cell {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #e62429; /* Red cell background color */
    border: 2px solid #8a171d; /* Darker red cell border */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    color: #fff; /* White text color */
    transition: background-color 0.3s, transform 0.1s;
}

.cell:hover {
    background-color: #8a171d; /* Darker red on hover */
    transform: scale(1.05); /* Scale up slightly on hover for a subtle effect */
}

/* Styling for the game board */
#game-board {
    border: 4px solid #8a171d; /* Darker red border around the game board */
    border-radius: 10px; /* Rounded corners for the game board */
    overflow: hidden; /* Ensure the rounded corners are visible */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Subtle box shadow for depth */
}

/* Styling for the game title */
.game-title {
    font-size: 36px;
    margin-bottom: 20px;
    color: #e62429; /* Red color for the title */
}

/* Styling for the "Play Again" button */
.button-container {
    text-align: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #e62429; /* Red button background color */
    color: #fff; /* White text color */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #99171d; /* Darker red on hover */
}

/* Styling for the game result message */
#game-result {
    font-size: 24px;
    margin-top: 20px;
    color: #e62429; /* Red color for the result message */
}

/* Styling for X and O */
.cell.X::before,
.cell.O::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: #e62429; /* Red color for X and O */
    border-radius: 50%;
}

.cell.X::before {
    content: 'X';
}

.cell.O::before {
    content: 'O';
}
